/* styles.css */

/* Styles pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Styles pour l'en-tête */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

/* Styles pour la bannière/logo */
.banner {
    display: flex;
    align-items: center;
    justify-content: center; /* Centre horizontalement les éléments */
}

.banner img {
    max-width: 150px;
    margin-right: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

/* Styles pour la navigation */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Styles pour les sections */
section {
    padding: 20px;
}

section h2 {
    font-size: 1.5em;
}

/* Styles pour le pied de page */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
